main {
    margin: 200px;
}

header {
    margin: 200px;
    margin-top: 0;
}

body {
    margin: 0;
}

h1 {
    color: black;
    font-family: 'Poppins', 'Arial', sans-serif;
    text-align: left;
    margin-bottom: 50px;
    font-size: 32px
}

h2,
h3 {
    color: black;
    font-family: 'Poppins', 'Arial', sans-serif;
    text-align: left;
    margin-bottom: 50px;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

p {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0px;
}

header {
    position: fixed;
    top: 0;
    background-color: white;
    display: block;
    width: 100%;
    padding-top: 40px;
    padding-right: 400px;
    z-index: 100;
}

.logo {
    width: 200px;
}

.list {
    display: flex;
    color: lightskyblue;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    float: right;
}

.list a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding-right: 25px;
    font-size: 1.2rem;
    transition: all 250ms;
    align-items: center;
    float: right;
}

header ul a {
    margin: 10px;
    justify-content: left;
    font-family: 'Poppins', 'Arial', sans-serif;
    position: fixed;

}


li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 0px;
}

li a:hover {
    color: lightskyblue;
}


.flexbox {
    justify-content: center;
    align-items: baseline;
}

.text-right {
    padding-right: 100px;
    padding-top: 50px;
}

.text-left {
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;

}

.container-color {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    padding-right: 80px;
    margin-bottom: 120px;
    background-color: rgb(249, 242, 233);

}

.text {
    padding-top: 50px;
}

.flexbox {
    align-items: center;
}

.flexbox h1 {
    padding-top: 100px;
}

.flexbox img {
    width: 500px;
}


.button {
    text-align: center;
    align-items: stretch;
    justify-content: center;
    text-decoration: none;
    color: aqua
}

.selectie {
    background-color: lightskyblue;
}

.box img {
    width: 25em;
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.text-box {
    margin-top: 150px;
    align-items: center;

}

.container2 {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.box-nyc {
    padding: 10px;
}

.box-nyc img {
    width: 19em;
}

.box {
    padding: 20px;
}

.box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer {
    padding: 100px;
    background-color: lightskyblue;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 40px;
    font-family: 'poppins', Courier, monospace;
}

.button:hover {
    background-color: lightsalmon;
}

.colums {
    background-color: #333;
    color: #fff;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', 'Arial', sans-serif;
    padding-bottom: 100px;
}


.colums h3 {
    color: white;
}

.colums a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0;
}


.column {
    flex: 1;
    margin: 40px;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
}